<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.actions.runner.alpha</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/runner/actions-runner/run.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/runner/actions-runner</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/runner/actions-runner/runner.out.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/runner/actions-runner/runner.err.log</string>
    
    <key>UserName</key>
    <string>runner</string>
    
    <key>GroupName</key>
    <string>staff</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin</string>
        <key>RUNNER_ALLOW_RUNASROOT</key>
        <string>0</string>
        <key>RUNNER_NAME</key>
        <string>alpha-m3-ultra</string>
    </dict>
    
    <key>SessionCreate</key>
    <true/>
    
    <key>ProcessType</key>
    <string>Interactive</string>
    
    <key>ThrottleInterval</key>
    <integer>30</integer>
    
    <key>ExitTimeOut</key>
    <integer>60</integer>
</dict>
</plist>

